#book-app-grid {
    display: grid;
    grid-template-areas: 
    "welcome-mes ui-menu"
    "welcome-mes list-section"
    "image-section list-section";
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#ui-menu {
    grid-area: ui-menu;
}

#list-section {
    grid-area: list-section;
    display: flex;
    height: 100%;
    width: 80%;
    overflow-y: auto;

    #book-list-container {
        width: 100%;
    }
}

#image-section{
    width: 100%;
    grid-area: image-section;
    img {
        margin: auto;
    }
}

#welcome-mes {
    grid-row: 1 / 2;
    grid-area: welcome-mes;
}