@import './variables';

#modal-box {
    position: absolute;
    top: 0;
    left: 0;

    h2 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        display: none;
    }

    #modal-book-form[open] {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        transform: translate(-50%, -50%);
        animation: show 1s;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 1.8rem;
        padding: 2em;
    
        #close-book-btn {
            position: absolute;
            top: 10px;
            left: calc(100% - 40px);
            border: none;
            font-size: 2rem;
            color: white;
            padding: 0em .32em;
            border-radius: 3px;
            background-color: $primary--clr;
            cursor: pointer;
            &:hover {
                background-color: hsl(6, 51%, 45%);
            }
        }
    
        #book-form {
            display: flex;
            flex-direction: column;
        
            label {
                font-weight: 500;
            }
        
            input:not(input[type=submit]) {
                font-weight: 300;
                font-size: 1.6rem;
                padding: .5em 0 .5em .3em;
                margin-bottom: 1em;
                border: none;
                border-bottom: 1px rgba(black, .2) solid; 
                &:focus {
                    outline: none;
                    border-bottom: black 1px solid;
                }
            }
    
            input[type=submit] {
                color: white;
                background-color: $green--clr--light;
                border: none;
                border-radius: 3px;
                padding: .2em 0em;
                cursor: pointer;
                &:hover {
                    background-color:hsl(115, 43%, 40%);
                }
            }
        }
    }
}
#modal-box[data-active="true"] {
    z-index: 1;
    height: 100%;
    width: 100%;
    transform: scale(1);
    background-color: rgba(black, .1);
    animation: unfoldOut 1s forwards;
}

#modal-box[data-active="false"] {
    height: 100%;
    width: 100%;
    background-color: rgba(black, .2);
    animation: unfoldIn 1s forwards;
}