@import './variables.scss';

#ui-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
        position: relative;
        z-index: 0;
        margin-right: 2em;
        border-radius: 1px;
        width: 100%;
        max-width: 200px;
        font-size: 2.2rem;
        font-weight: 700;
        padding: .5em 1em;
        border-radius: .3em;
        cursor: pointer;

        &:hover {
            top: -3px;
            left: 4px;
            box-shadow: none;
        }
    }
}

#show-book-btn {
    color: $primary--btn;
    background: $accent--clr--lighter;
    box-shadow: 4px -3px 0px 1px rgba($accent--clr--lighter, .5);
    border: 2px solid rgba($accent--clr--lighter, 1);
}

#new-book-btn {
    color: white;
    background: $primary--clr;
    box-shadow: 4px -3px 0px 1px rgba($primary--clr, .5);
    border: 2px solid $primary--clr;
}