$primary--btn: #1b0b09;
$background--clr: #f6e6e4;
$primary--clr: hsl(6, 51%, 55%);
$secondary--btn: #fdf8f7;
$accent--clr: #cd6f65;
$accent--clr--lighter: #e6b8b3;
$green--clr--light: hsl(115, 43%, 46%);
$book-card--clr: #d6d6d6;