//Basic CSS reset
html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

//Actual code
#main-content {
    height: 100vh;
}

#control-section {
    display: grid;
    grid-template-areas:
    'form list';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100% 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

#book-form-container {
    display: flex;
    flex-direction: column;
}

#books-list-container {
    
}

#book-form {
    grid-area: form;
    display: none;
    flex-direction: column;
    max-width: 200px;
}
