@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap");
@keyframes show {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes unfoldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}
#book-form {
  display: flex;
  flex-direction: column;
}
#book-form label {
  font-weight: 500;
}
#book-form input:not(input[type=submit]) {
  font-weight: 300;
  font-size: 1.6rem;
  padding: 0.5em 0 0.5em 0.3em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
#book-form input:not(input[type=submit]):focus {
  outline: none;
  border-bottom: black 1px solid;
}

#modal-book-form[open] {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 1s;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 2em;
}

#modal-box[data-active=true] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.1);
  animation: unfoldOut 1s forwards;
}

#modal-box[data-active=false] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: unfoldIn 1s forwards;
}

#book-app-grid {
  display: grid;
  grid-template-areas: "welcome-mes ui-menu" "welcome-mes list-section" "image-section list-section";
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#ui-menu {
  grid-area: ui-menu;
}

#list-section {
  grid-area: list-section;
}

#image-section {
  grid-area: image-section;
}

#welcome-mes {
  grid-row: 1/2;
  grid-area: welcome-mes;
}

#ui-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#ui-menu button {
  position: relative;
  z-index: 0;
  margin-right: 2em;
  border-radius: 1px;
  width: 100%;
  max-width: 200px;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
}
#ui-menu button::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #c75d52;
}
#ui-menu button:hover {
  top: 10px;
  box-shadow: none;
}

#show-book-btn {
  color: #1b0b09;
  background: #e6b8b3;
  box-shadow: 0px 10px 0px rgba(230, 184, 179, 0.5);
  border: 2px solid #e6b8b3;
}

#new-book-btn {
  color: white;
  background: #c75d52;
  box-shadow: 0px 10px 0px rgba(199, 93, 82, 0.5);
  border: 2px solid #c75d52;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  width: 100%;
  display: block;
  max-width: 700px;
}

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-image: url("../images/wave-background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

#main-content {
  height: 100vh;
}

h1 {
  font-size: clamp(2rem, 6vw, 7rem);
  width: 100%;
  max-width: 700px;
  color: #1b0b09;
  text-align: left;
}
h1 span {
  color: #cd6f65;
}/*# sourceMappingURL=style.css.map */