@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Chorasmian&display=swap');
@import './keyframes.scss';
@import './modalbookform.scss';
@import './bookgrid.scss';
@import './variables.scss';
@import './uimenu.scss';

//Basic CSS reset
html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    width: 100%;
    display: block;
    max-width: 800px;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: 'Noto Sans Chorasmian', sans-serif;
}

body {
    background-image: url('../images/UI-background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
}
//Actual code
#main-content {
    height: 100vh;
}